@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/*font-family: "Poppins", sans-serif;*/
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Poppins", sans-serif;
}

h1{
	text-align: center;
	margin: 40px 0;
    font-weight: 800;
}
.chicken{
	background-color: #ac3c00;
}
.beef{
	background-color: #d1002d;
}
.sushi{
	background-color: #00c06d ; 
}
.title {
    border-radius: 5px;
	position: absolute;
	top: 0; right:0;
	width: 165px;
	text-align: center;
	border: 1px solid black;
    padding: 6px 0;
    font-size: 19px;
    font-weight: 600;
}
p{
	padding: 45px;
    font-size: 14px;
    line-height: 20px;
    color: #f8d891;
    text-align: left;
}
.row {
    width: 100%;
}
.section {	
    border-radius: 7px;
    position: relative;
	background-color: #1A2339;
	border: 1px solid black;
	width: 90%;
    margin: 0 auto;
}
article{
    text-align: center;
    margin-top: 45px;
    font-size: 13px;
    font-weight: 600;
}
/* Large Sizes */
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Medium sizes */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .sec-3{
    width: 95%;
    margin-top: 30px;
}
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Small Sizes */
@media(max-width: 767px){
	.section{
		margin-top: 30px;
	}
}